venv/
__pycache__/
*.pyc
*.blast
*.nhr
*.nin
*.nsq
*.ndb
*.not
*.ntf
*.nto
data/raw/Arabidopsis_thaliana.TAIR10.cdna.all.fa
data/raw/Araport11.gff3
data/raw/TAIR10_genome.fa
data/raw/TAIR10_genome.fa.fai
data/raw/araport11_tx.fa
data/raw/candidate_negatives.fa
data/raw/pool_c80*
data/raw/pool_for_cdhit.fa
*.tar.gz
ncrna_core/target/
